.graphics/
.idea/
.hg/
.hgignore
.research/
.settings/
.kdev4/

bin/
obj/
out/
gen/
Debug/
Release/
*~
*.*~
*.kdev4
*.suo
*.sdf
*.opensdf
*.ipch
*.user
*.ipr
*.iws
*.iml
.kate*
.project                                                                                                                                                                                                                                    
.kdev_include_paths                                                                                                                                                                                                                         
                                                                                                                                                                                                                                            
local.properties
proguard.local.cfg
build.sh
gitcreate.sh
gitpush.sh
translate.sh
build/
.gradle/
.project
.cproject
.classpath
lint.report.html
/gradle_debug_rename.bat
/lint.xml
*.iml
